<% if user_signed_in? %>

<h1>Tasks | <% link_to "New Category", new_category_path %></h1>

<br> 


<% Category.all.each.do |cat| %>
<%= link_to cat.name, tasks_path(category: cat.name)%>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">User Id</th>
      <th scope="col">Category</th>
      <th colspam="1"></th>
    </tr>
  </thead>
 
  <tbody>
  <% @tasks.each do |task| %>

    <% if task.user == current_user %>
    
    <tr>
      <td><%= link_to task.task_title, task %></td>
      <td><%= task.category %></td>
      <td><%= task.user_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= link_to "+", new_task_path, class:"btn btn-secondary" %>

<% else %>

<div class="home-index">
    <h1 id="home-h1">iSulat</h1>

    <h2 id="home-h2">Philippine's No.1 To-do List App!</h2>


<%= link_to "Sign Up", new_user_registration_path, class:"home-btn" %>
<%= link_to "Sign In", new_user_session_path, class:"home-btn" %>

</div>

<% end %>

