
<div class="jumbotron">
<h1><%= @task.category.name %></h1>
  <h1 class="display-4"><%= @task.task_title %>
  </h1>
  <p class="lead"><%= @task.date %></p>
  <hr class="my-4">
  <p><%= @task.notes %></p>
  
  <%= link_to "Edit", edit_task_path(@task), class:"btn 
  btn-secondary"  %> 
  <%= link_to "Back", tasks_path, class:"btn 
    btn-dark"  %><br>
  </br>
  <%= button_to "Delete Task", @task, method: :delete,
  data: { confirm: 'Are you sure?'},  class:"btn btn-danger" %>
</div>
