<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
<h1>CATEGORIES</h1>
<%= link_to "+", new_category_path %>

<div class="container">
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category  %>
    <%= link_to "View", category, class:"view-btn" %>
  <% end %>
  </div>
</div>

</div>

<% else %>

<%= render 'home/index' %>

<%end%>
